.active{
  box-shadow: 0 0 20px white;
  border-radius: 20px;
  background-color: #b8de6f;
  color: white;
  font-size: 1rem;
  display: inline-block;
  padding: 0.4rem 0.6rem;
  margin:0 0.5rem 0.5rem 0.5rem;
}
.inactive{
  box-shadow: none;
  background-color: #f1e189;
  color: black;
  font-size: 1rem;
  display: inline-block;
  padding: 0.4rem 0.6rem;
  margin:0 0.5rem 0.5rem 0.5rem;
}
#tabs {
  border-radius: 20px;
}
.tab-content{
  border-radius: 200px;
  padding: 0.5%;
}
